/**
 * mightySlider 'Modern' skin for carousel purpose.
 * http://mightyslider.com
 *
 * @version:  2.0.0
 * @released: March 05, 2014
 * 
 * @author:   Hemn Chawroka
 *            http://iprodev.com/
 *
 * How to use it?
 * You need to add 'mightyslider_carouselModern_skin' class to the slider frame's parent element.
 */
@-webkit-keyframes mightyslider_carouselModern_spin {
	0%{-webkit-transform: rotate(0deg) translateZ(0); }
	100%{-webkit-transform: rotate(720deg) translateZ(0); }
}
@keyframes mightyslider_carouselModern_spin {
	0%{transform: rotate(0deg) translateZ(0); }
	100%{transform: rotate(720deg) translateZ(0); }
}

.mightyslider_carouselModern_skin {
	position: relative;
	background: #000;
}

.mightyslider_carouselModern_skin.horizontal .mSFrame .mSSlideElement .mSSlide {
	float: left;
}

/* Navigation Buttons */
.mightyslider_carouselModern_skin .mSButtons {
	position: absolute;
	background-size: 200px 71px;
	width: 100px;
	height: 200px;
	margin: auto;
	cursor: pointer;
	opacity: 0;
	z-index: 1000;
	
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.mightyslider_carouselModern_skin:hover .mSButtons {
	opacity: 0.3;
}

.mightyslider_carouselModern_skin.mSMedia .mSButtons {
	display: none;
}

.mightyslider_carouselModern_skin.black .mSButtons {
}

.mightyslider_carouselModern_skin .mSButtons:hover {
	opacity: 1;
}

.mightyslider_carouselModern_skin.vertical .mSButtons {
	width: 200px;
	height: 100px;
	background-size: 71px 200px;
}

.mightyslider_carouselModern_skin.vertical.black .mSButtons {
}

.mightyslider_carouselModern_skin.horizontal .mSNext {
	top: 0;
	bottom: 0;
	right: 0;
	background-position: -100px 50%;
}

.mightyslider_carouselModern_skin.horizontal .mSPrev {
	top: 0;
	bottom: 0;
	left: 0;
	background-position: 0 50%;
}

.mightyslider_carouselModern_skin.vertical .mSNext {
	left: 0;
	right: 0;
	bottom: 0;
	background-position: 50% -100px;
}

.mightyslider_carouselModern_skin.vertical .mSPrev {
	left: 0;
	right: 0;
	top: 0;
	background-position: 50% 0;
}

.mightyslider_carouselModern_skin .mSButtons.disabled {
	display: none;
}

.mightyslider_carouselModern_skin .mSLoader {
	width: 64px;
	height: 64px;
	border-width: 2px;
	border-style: solid;
	border-color: #fff transparent transparent transparent;
	border-radius: 50%;

	-webkit-animation: mightyslider_modern_spin 2s linear infinite;
	animation: mightyslider_modern_spin 2s linear infinite;
}

.mightyslider_carouselModern_skin .mSVideo,
.mightyslider_carouselModern_skin .mSFlash,
.mightyslider_carouselModern_skin .mSIframe,
.mightyslider_carouselModern_skin .mSLink {
	width: 77px;
	height: 77px;
	background-size: 48px 48px;
	background-color: rgba(0,0,0,0.1);
	cursor: pointer;
	border-radius: 50%;
}

.mightyslider_carouselModern_skin .mSIframe {
	background-size: 32px 32px;
}

.mightyslider_carouselModern_skin .mSVideo:after,
.mightyslider_carouselModern_skin .mSFlash:after,
.mightyslider_carouselModern_skin .mSIframe:after,
.mightyslider_carouselModern_skin .mSLink:after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: #fff transparent transparent transparent;
	border-radius: 50%;

	-webkit-animation: mightyslider_modern_spin 2s linear infinite;
	animation: mightyslider_modern_spin 2s linear infinite;
}

.mightyslider_carouselModern_skin .mSVideo:hover:after,
.mightyslider_carouselModern_skin .mSFlash:hover:after,
.mightyslider_carouselModern_skin .mSIframe:hover:after {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

.mightyslider_carouselModern_skin .mSLink {
	background-size: 32px 32px;
	opacity: 0;
	
	-webkit-transition: all 0.3s;
			transition: all 0.3s;
}

.mightyslider_carouselModern_skin .mSFrame .mSSlideElement .mSSlide:hover .mSLink {
	opacity: 1;
}

.mightyslider_carouselModern_skin ul.mSPages {
	list-style: none;
	padding: 0;
	margin: 1px 0;
	height: 10px;
}

.mightyslider_carouselModern_skin ul.mSPages li {
	float: left;
	width: 10px;
	height: 10px;
	cursor: pointer;
	margin-left: 10px;
	background: #CCC;
	text-indent: -9999px;
}

.mightyslider_carouselModern_skin ul.mSPages li.active {
	background: #04f;
	width: 12px;
	height: 12px;
	margin-left: 9px;
	margin-top: -1px;
}