/**
 * mightySlider 'Modern' skin for slider purpose.
 * http://mightyslider.com
 *
 * @version:  2.0.0
 * @released: March 05, 2014
 * 
 * @author:   Hemn Chawroka
 *            http://iprodev.com/
 *
 * How to use it?
 * You need to add 'mightyslider_modern_skin' class to the slider frame's parent element.
 */
@-webkit-keyframes mightyslider_modern_spin {
	0%{-webkit-transform: rotate(0deg) translateZ(0);}
	100%{-webkit-transform: rotate(720deg) translateZ(0);}
}
@keyframes mightyslider_modern_spin {
	0%{transform: rotate(0deg) translateZ(0);}
	100%{transform: rotate(720deg) translateZ(0);}
}

.mightyslider_modern_skin {
	position: relative;
	background: #000;
}

.mightyslider_modern_skin .mSFrame {
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
}

.mightyslider_modern_skin .mSFrame .mSSlideElement {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.mightyslider_modern_skin .mSFrame .mSSlideElement .mSSlide {
	overflow: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.mightyslider_modern_skin.horizontal .mSFrame .mSSlideElement .mSSlide {
	float: left;
}

/* Navigation Buttons */
.mightyslider_modern_skin .mSButtons {
	position: absolute;
	background-size: 200px 71px;
	width: 100px;
	height: 200px;
	margin: auto;
	cursor: pointer;
	opacity: 0;
	z-index: 1000;
	
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.mightyslider_modern_skin:hover .mSButtons {
	opacity: 0.3;
}

.mightyslider_modern_skin.mSMedia .mSButtons {
	display: none;
}

.mightyslider_modern_skin.black .mSButtons {
}

.mightyslider_modern_skin .mSButtons:hover {
	opacity: 1;
}

.mightyslider_modern_skin.vertical .mSButtons {
	width: 200px;
	height: 100px;
	background-size: 71px 200px;
}

.mightyslider_modern_skin.vertical.black .mSButtons {
}

.mightyslider_modern_skin.horizontal .mSNext {
	top: 0;
	bottom: 0;
	right: 0;
	background-position: -100px 50%;
}

.mightyslider_modern_skin.horizontal .mSPrev {
	top: 0;
	bottom: 0;
	left: 0;
	background-position: 0 50%;
}

.mightyslider_modern_skin.vertical .mSNext {
	left: 0;
	right: 0;
	bottom: 0;
	background-position: 50% -100px;
}

.mightyslider_modern_skin.vertical .mSPrev {
	left: 0;
	right: 0;
	top: 0;
	background-position: 50% 0;
}

.mightyslider_modern_skin .mSButtons.disabled {
	display: none;
}

.mightyslider_modern_skin .mSLoader {
	width: 64px;
	height: 64px;
	border-width: 2px;
	border-style: solid;
	border-color: #fff transparent transparent transparent;
	border-radius: 50%;

	-webkit-animation: mightyslider_modern_spin 2s linear infinite;
	animation: mightyslider_modern_spin 2s linear infinite;
}

.mightyslider_modern_skin .mSVideo,
.mightyslider_modern_skin .mSFlash,
.mightyslider_modern_skin .mSIframe {
	width: 77px;
	height: 77px;
	background-size: 48px 48px;
	background-color: rgba(0,0,0,0.1);
	cursor: pointer;
	border-radius: 50%;
}

.mightyslider_modern_skin .mSIframe {
	background-size: 32px 32px;
}

.mightyslider_modern_skin .mSVideo:after,
.mightyslider_modern_skin .mSFlash:after,
.mightyslider_modern_skin .mSIframe:after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: #fff transparent transparent transparent;
	border-radius: 50%;

	-webkit-animation: mightyslider_modern_spin 2s linear infinite;
	animation: mightyslider_modern_spin 2s linear infinite;
}

.mightyslider_modern_skin .mSVideo:hover:after,
.mightyslider_modern_skin .mSFlash:hover:after,
.mightyslider_modern_skin .mSIframe:hover:after {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

/* Thumbnails */
.mightyslider_modern_skin .mSThumbnails {
	position: absolute;
	background: rgba(255,255,255,0.2);
	padding: 5px;
	z-index: 1002;
	overflow: hidden;

	-webkit-transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.mightyslider_modern_skin.black .mSThumbnails {
	background: rgba(255,255,255,0.7);
}

.mightyslider_modern_skin.horizontal .mSThumbnails {
	padding-top: 50px;
	bottom: 0;
	-webkit-transform: translateY(62px) translateZ(0);
	transform: translateY(62px) translateZ(0);
	left: 0;
	right: 0;
	height: 110px;
}

.mightyslider_modern_skin.horizontal .mSThumbnails:hover {
	-webkit-transform: translateY(0) translateZ(0);
	transform: translateY(0) translateZ(0);
	padding: 5px;
}

.mightyslider_modern_skin.vertical .mSThumbnails {
	right: 0;
	-webkit-transform: translateY(135px) translateZ(0px);
	transform: translateY(135px) translateZ(0px);
	top: 0;
	bottom: 0;
	width: 120px;
}

.mightyslider_modern_skin.vertical .mSThumbnails:hover {
	-webkit-transform: translateY(0) translateZ(0px);
	transform: translateY(0) translateZ(0px);
	padding: 5px;
}

.mightyslider_modern_skin.horizontal.mSMedia .mSThumbnails {
	display: none;
}

.mightyslider_modern_skin.vertical.mSMedia .mSThumbnails {
	display: none;
}

.mightyslider_modern_skin .mSThumbnails ul {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
	line-height: 0px;
}

.mightyslider_modern_skin.horizontal .mSThumbnails ul {
	height: 100px;
	white-space: nowrap;
}

.mightyslider_modern_skin.vertical .mSThumbnails ul {
	width: 120px;
}

.mightyslider_modern_skin .mSThumbnails ul li {
	padding: 0;
	border: 1px solid transparent;
	opacity: 0;

	-webkit-transition: opacity 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	transition: opacity 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.mightyslider_modern_skin .mSThumbnails:hover ul li {
	opacity: 1;
}

.mightyslider_modern_skin .mSThumbnails ul li.active {
	border-color: #5cc3f6;
}

.mightyslider_modern_skin.horizontal .mSThumbnails ul li {
	display: inline-block;
	max-height: 100px;
	cursor: pointer;
	margin-right: 5px;
}

.mightyslider_modern_skin.vertical .mSThumbnails ul li {
	display: block;
	max-width: 134px;
}

.mightyslider_modern_skin .mSThumbnails ul li img {
	padding: 0;
	margin: 0;
}

.mightyslider_modern_skin.horizontal .mSThumbnails ul li img {
	height: 98px;
}

.mightyslider_modern_skin.vertical .mSThumbnails ul li img {
	width: 120px;
}

/* Pages */
.mightyslider_modern_skin .mSPages {
	position: absolute;
	padding: 10px 0;
	margin: auto;
	height: 30px;
	list-style: none;
	bottom: 10px;
	right: 0;
	left: 0;
	z-index: 1003;
	overflow: hidden;
	text-align: center;
	line-height: 0px;
	pointer-events: none;

	-webkit-transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.mightyslider_modern_skin.horizontal .mSThumbnails:hover + .mSPages {
	bottom: 0;
	-webkit-transform: translateY(-60px) translateZ(0);
	transform: translateY(-60px) translateZ(0);
	opacity: 0;
	z-index: 1001;
}

.mightyslider_modern_skin.mSMedia .mSPages {
	display: none;
}

.mightyslider_modern_skin .mSPages li {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: rgba(0,0,0,0);
	margin: 0 5px;
	text-indent: -9999px;
	border: 2px solid #FFF;
	cursor: pointer;
	vertical-align: top;
	pointer-events: all;
	border-radius: 50%;
}

.mightyslider_modern_skin .mSPages li.active {
	background: #FFF;
}

.mightyslider_modern_skin.black .mSPages li {
	border-color: #000;
}

.mightyslider_modern_skin.black .mSPages li.active {
	background: #000;
}

.mightyslider_modern_skin.isTouch .mSPages {
	padding: 0;
	height: 18px;
	bottom: 15px;
}
.mightyslider_modern_skin.isTouch .mSPages li {
	width: 18px;
	height: 18px;
}

.mightyslider_modern_skin.horizontal .mSThumbnails + .mSPages li {
	pointer-events: none;
}

/* Optimize for Touch Devices */
.mightyslider_modern_skin.isTouch .mSClose {
	opacity: 1;
}

.mightyslider_modern_skin.isTouch .mSButtons {
	opacity: 1;
}

.mightyslider_modern_skin.horizontal.isTouch .mSThumbnails {
	bottom: -80px;
	opacity: 0.6;
}

.mightyslider_modern_skin.vertical.isTouch .mSThumbnails {
	right: -120px;
	opacity: 0.6;
}

.mightyslider_modern_skin.horizontal.isTouch .mSThumbnails + .mSPages {
	bottom: 20px;
}